<div class="w-full bg-white text-black p-3  ">
  <div class="flex justify-between px-10 items-center mb-2">
    <div>
      <h1 class="text-lg font-bold">Web security contents</h1>
    </div>
    <div class="flex gap-3 items-center">
   
    

      <button class="border-2 border-black px-3 py-2 hover:bg-gray-100 ">SHARE</button>
    </div>
  </div>
  <div class="w-full bg-gray-200">
    <div class="bg-green-500 text-xs font-medium text-blue-100 text-center p-0.5 leading-none "
      [ngStyle]="{'width':progress+'%'}"> {{progress}}%</div>
  </div>
</div>