<div class="w-screen h-screen bg-black overflow-x-hidden ">
  <div class="flex flex-col ">
    <!-- header -->
    <app-header></app-header>

    <!-- body -->
    <div class="bg-red-400  w-screen  h-screen ">
      <div class="flex relative">
        <!-- video and  notes side -->
        <div class="flex-1">
          <app-video></app-video>
        </div>


        <!-- contents and progress maybe -->
        <div class="bg-blue-200 w-4/12 " [ngStyle]="{'display':hideSide ? 'none' : '' }">
          <div>
            <div
              class="text-black font-bold text-lg bg-bluue-200  border-b-2 border-gray-200 p-4 flex justify-between mr-4">
              <h1>Course content</h1>
              <div (click)="hideSideBar()">X</div>
            </div>

            <div class="bg-green-300">
              <app-video-section [title]="'Part 1'" [time]="'1hr 35 min'" [num]="3">
                <app-video-contents [title]="'1.What is Web Security?'" [time]="'1hr'" [id]="1"></app-video-contents>
                <app-video-contents [title]="' 2.DNS, HTTP'" [time]="'1hr'" [id]="2"></app-video-contents>
                <app-video-contents [title]="'3.Same Origin Policy'" [time]="'1hr'" [id]="3"></app-video-contents>
              </app-video-section>
              <app-video-section [title]="'Part 2'" [time]="'1hr 35 min'" [num]="3">
                <app-video-contents [title]="'1.What is Web Security?'" [time]="'1hr'" [id]="4"></app-video-contents>
                <app-video-contents [title]="' 2.DNS, HTTP'" [time]="'1hr'" [id]="5"></app-video-contents>
                <app-video-contents [title]="'3.Same Origin Policy'" [time]="'1hr'" [id]="6"></app-video-contents>
              </app-video-section>
              <app-video-section [title]="'Part 3'" [time]="'1hr 35 min'" [num]="3">
                <app-video-contents [title]="'1.What is Web Security?'" [time]="'1hr'" [id]="7"></app-video-contents>
                <app-video-contents [title]="' 2.DNS, HTTP'" [time]="'1hr'" [id]="8"></app-video-contents>
                <app-video-contents [title]="'3.Same Origin Policy'" [time]="'1hr'" [id]="9"></app-video-contents>
              </app-video-section>
              <app-video-section [title]="'Part 4'" [time]="'1hr 35 min'" [num]="3">
                <app-video-contents [title]="'1.What is Web Security?'" [time]="'1hr'" [id]="10"></app-video-contents>
                <app-video-contents [title]="' 2.DNS, HTTP'" [time]="'1hr'" [id]="11"></app-video-contents>
                <app-video-contents [title]="'3.Same Origin Policy'" [time]="'1hr'" [id]="12"></app-video-contents>
              </app-video-section>

            </div>

          </div>
        </div>




      </div>

      <div *ngIf="(hideSide)" class="h-16 absolute toggle bg-gray-500 flex items-center justify-center p-5 
        hover:top-14
        hover:bg-gray-400 cursor-pointer
      " (click)="hideSideBar()">
        <div> 🤐 Course Content </div>
      </div>
    </div>





  </div>
</div>